#heading{

font-size:25px;

}

#snapshot:hover{
background-color:red;
}

canvas{
    margin-top: 100px;
border:1px solid black;
animation-name:example;
animation-duration: 2s;
animation-iteration-count: infinite;

}

@keyframes example {

    0%   {box-shadow:5px 5px 38px red;}
    25%  {box-shadow:5px 5px 38px yellow;}
    50%  {box-shadow:5px 5px 38px orange;}
    100% {box-shadow:5px 5px 38px  cyan;}

}